<ion-item>
  <ion-label>LED灯控制</ion-label>
</ion-item>
<ion-button expand="full" (click)="ledon()">开</ion-button>
<ion-button expand="full" (click)="ledoff()">关</ion-button>
<ion-item>
    <ion-label>空调控制</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="acon()">开</ion-button>
<ion-button expand="full"   (click)="acoff()">关</ion-button>
<ion-item>
    <ion-label>风扇控制</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="fanoff()">关</ion-button>
<ion-button expand="full" (click)="fanlow()">低档</ion-button>
<ion-button expand="full" (click)="fanhigh()">高档</ion-button>
<ion-item>
    <ion-label>温湿度变化曲线图</ion-label>
  </ion-item>
  <ion-button expand="full" (click)="wen()">温湿度变化曲线图</ion-button>
